*
!.*
!*.enc
!*.yml
!*Makefile
!*.sublime-project
!*.md
!*.sh
!Cargo.toml
!rustfmt.toml
!package.json
!prepend_license.awk
!LICENSE
!src
!src/**
!test
!test/**
!assets
!assets/**
!examples
!examples/**
